.services {
    padding-top: 113px;
    width: 100%;
    // background: #E8E8E8;
    color: #222;
    overflow: hidden;

    @media (max-width: 560px) {
        padding-top: 50px;
    }

    &.black {
        color: #fff;
    }

    &.home {
        background-color: #e8e8e8;
    }

    .services__heading {
        margin-bottom: 56px;

        @media (max-width: 1440px) {
            margin-bottom: 40px;
        }

        .services__title {
            margin-bottom: 14px;
            font-weight: 500;
            font-size: 48px;
            line-height: 104%;
            text-transform: uppercase;
            color: inherit;

            @media (max-width: 1440px) {
                margin-bottom: 0;
                font-weight: 500;
                font-size: 36px;
                line-height: 43px;
            }
        }

        .services__descr {         
            max-width: 472px;
            margin: 0;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: inherit;

            @media (max-width: 1440px) {
                font-size: 15px;
                line-height: 18px;
            }

            @media (max-width: 560px) {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    .services__slider {
        width: 100%;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
        transition: transform 0.5s ease-out;
    }
}