.gallery {
    padding-top: 113px;
    width: 100%;
    overflow: hidden;

    @media (max-width: 560px) {
        padding-top: 50px;
    }

    .gallery__heading {
        margin-bottom: 56px;

        @media (max-width: 1440px) {
            margin-bottom: 40px;
        }

        .gallery__title {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 48px;
            line-height: 104%;
            text-transform: uppercase;
            color: inherit;

            @media (max-width: 1440px) {
                font-size: 36px;
                line-height: 43px;
            }
        }

        .gallery__descr {         
            max-width: 472px;
            margin: 0;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: inherit;

            @media (max-width: 1440px) {
                font-size: 15px;
                line-height: 18px;
            }

            @media (max-width: 560px) {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    .gallery__slider {
        user-select: none;

        .slick-list {
            overflow: unset;

            .slick-track {
                display: flex;
            }

            .slick-slide img {
                height: 625px;

                @media (max-width: 560px) {
                    height: 182px;
                }
            }
        }
    }
}