@import "../../ui/styles/reboot.scss";

:root {
  --width: 33.3%;
}

.main {
  width: 100%;
  overflow: hidden;
}

.stock {
  position: absolute;
  right: 180px;
  bottom: 70px;
  text-decoration: none;
  transform: rotate(20deg);
  cursor: pointer;
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 280px;
    border: 8px solid $kw-primary-color;
    border-radius: 50%;
    background: #a656ad;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    & > svg {
      position: absolute;
      transform: rotate(-40deg);
      width: 120px;
      bottom: -30px;
      right: -15px;
      path {
        fill: $kw-primary-color;
      }
    }
  }
  &__title {
    max-width: 230px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: $kw-white-color;
    transition: 0.3s;
    margin: 0;
  }
  &:hover {
    .stock__wrapper {
      background: $kw-black-color;
    }
    .stock__title {
      color: $kw-white-color;
    }
  }
}

.slider__block {
  position: relative;
  width: 100%;
  height: 964px;

  @media (max-width: 1440px) {
    height: 900px;
  }
}

.home {
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
}

.header__background {
  width: 100%;
  height: 160px;
  background: linear-gradient(180deg, #151515 0%, rgba(23, 23, 23, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


.knwh {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $kw-white-color;
}


@media (max-width: 1440px) {

  .applications__left {
    margin-right: 37px;
  }
  .applications__left-top {
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
  }
  .applications__left-bottom {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
  .applicationsButton__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .applicationsButton {
    padding: 12px 42px;
  }

  .flip__wrapper {
    margin-bottom: 76px;
  }

  .knwh {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 1117px) {
  .stock {
    right: 20px;
  }
}


@media (max-width: 1150px) {
  .home {
    &__logo {
      width: 350px;
    }
  }

  .carousel-fade .carousel-item {
    height: 800px;
  }

  .carousel-indicators {
    top: 750px;
  }

  .slider__block {
    height: 800px;
  }

  [aria-label] {
    width: 8px !important;
    height: 8px !important;
  }

  // .footer {
  //     &__left {
  //         width: 369px;
  //     }
  //     &__menu {
  //         transform: inherit;
  //     }
  // }
}



@media (max-width: 750px) {

  .stock {
    &__title {
      line-height: initial;
      font-size: 18px;
      max-width: 107px;
    }
    &__wrapper {
      width: 150px;
      height: 150px;
      & > svg {
        width: 90px;
      }
    }
  }


  .applications {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  .applications {
    &__left {
      max-width: 300px;
      &-top {
        font-size: 27px;
      }
      &-bottom {
        font-size: 16px;
        width: auto;
      }
    }
  }

  .applicationsButton {
    padding: 17px 28px;
  }
}