@import "../../ui/styles/reboot.scss";

:root {
  --width: 33.3%;
}

.stock {
  position: absolute;
  right: 180px;
  bottom: 70px;
  text-decoration: none;
  transform: rotate(20deg);
  cursor: pointer;
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 280px;
    border: 8px solid $kw-primary-color;
    border-radius: 50%;
    background: #a656ad;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    & > svg {
      position: absolute;
      transform: rotate(-40deg);
      width: 120px;
      bottom: -30px;
      right: -15px;
      path {
        fill: $kw-primary-color;
      }
    }
  }
  &__title {
    max-width: 230px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: $kw-white-color;
    transition: 0.3s;
    margin: 0;
  }
  &:hover {
    .stock__wrapper {
      background: $kw-black-color;
    }
    .stock__title {
      color: $kw-white-color;
    }
  }
}

.slider__block {
  position: relative;
  width: 100%;
  height: 964px;
}

.home {
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
}

.header__background {
  width: 100%;
  height: 160px;
  background: linear-gradient(180deg, #151515 0%, rgba(23, 23, 23, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}



.about {
  width: 100%;
  min-height: 1121px;
  padding-top: 90px;
  background: $kw-black-color;
  overflow: hidden;
  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 104%;
    text-transform: uppercase;
    color: $kw-white-color;
    margin-bottom: 56px;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    transition: transform 0.5s ease-out;
  }
}


.knwh {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $kw-white-color;
}

.rates__wrapper__balchug .rates__item {
  background: $kw-white-color;
  border: 1px solid $kw-primary-color;
}

.rates__wrapper__balchug .rates__item .tarif__top .tarif__title {
  color: $kw-black-color;
}

.rates__wrapper__balchug .rates__item .tarif__top .tarif__list {
  color: $kw-black-color;
}

.rates__wrapper__balchug
  .rates__item
  .tarif__bottom
  .tarif__price
  .tarif__price-number {
  color: $kw-black-color;
}

.rates__wrapper__balchug .rates__item .tarif__bottom .tarif__pay-button {
  color: $kw-black-color;
}

.rates__wrapper__balchug
  .rates__item
  .tarif__bottom
  .tarif__buttons
  .tarif__hint {
  color: $kw-black-color;
}

// .rates__wrapper__balchug .rates__item .tarif__bottom .tarif__buttons .tarif__button {
//     background: #e4dccf;
//     border: 1px solid #c5bbac;
//     color: $kw-black-color;
// }

// .rates__wrapper__balchug .rates__item .tarif__bottom .tarif__buttons .tarif__button__active {
//     background: $kw-black-color;
//     border: 1px solid #1a1a1a;
//     color: $kw-white-color;
// }


@media (max-width: 1440px) {

  .slider__block {
    height: 900px;
  }

  .applications__left {
    margin-right: 37px;
  }
  .applications__left-top {
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
  }
  .applications__left-bottom {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
  .applicationsButton__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .applicationsButton {
    padding: 12px 42px;
  }

  .flip__wrapper {
    margin-bottom: 76px;
  }

  .about {
    min-height: 960px;
    &__item {
      min-width: 347px;
      height: 340px;
      &-top {
        height: 196px;
      }
      &-descr {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  // .footer {
  //     min-height: 381px;
  //     &__left {
  //         width: 523px;
  //         height: 381px;
  //     }
  //     &__right {
  //         padding: 0 176px 0 92px;
  //         height: 381px;
  //     }
  //     &__menu {
  //         &-item {
  //             margin-bottom: 20px;
  //             a {
  //                 font-weight: 500;
  //                 font-size: 15px;
  //                 line-height: 18px;
  //             }
  //         }
  //     }
  //     &__contact {
  //         margin-bottom: 24px;
  //         &-title {
  //             font-weight: 500;
  //             font-size: 18px;
  //             line-height: 22px;
  //             margin-bottom: 8px;
  //         }
  //         &-descr {
  //             font-weight: 400;
  //             font-size: 15px;
  //             line-height: 18px;
  //         }
  //     }
  //     &__social {
  //         &-item {
  //             margin-bottom: 16px;
  //             a {
  //                 img {
  //                     width: 40px;
  //                     height: 34px;
  //                 }
  //             }
  //         }
  //         &-descr {
  //             font-weight: 400;
  //             font-size: 15px;
  //             line-height: 18px;
  //         }
  //     }
  //     &__polytics {
  //         &-title {
  //             font-weight: 400;
  //             font-size: 12px;
  //             line-height: 14px;
  //             margin-bottom: 2px;
  //         }
  //     }

  // }

  .knwh {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 1117px) {

  .stock {
    right: 20px;
  }
}


@media (max-width: 1150px) {
  .home {
    &__logo {
      width: 350px;
    }
  }

  .carousel-fade .carousel-item {
    height: 800px;
  }

  .carousel-indicators {
    top: 750px;
  }

  .slider__block {
    height: 800px;
  }

  [aria-label] {
    width: 8px !important;
    height: 8px !important;
  }

  // .footer {
  //     &__left {
  //         width: 369px;
  //     }
  //     &__menu {
  //         transform: inherit;
  //     }
  // }
}



@media (max-width: 750px) {

  .stock {
    &__title {
      line-height: initial;
      font-size: 18px;
      max-width: 107px;
    }
    &__wrapper {
      width: 150px;
      height: 150px;
      & > svg {
        width: 90px;
      }
    }
  }


  .applications {
    align-items: flex-start;
    flex-direction: column;
  }

  .about__item {
    min-width: auto;
  }
}

@media (max-width: 560px) {
  .tarif__list-item {
    // margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .tarif__list-wrapper {
    margin-bottom: 12px;
  }

  .tarif__list {
    margin-bottom: 40px;
  }




  .about {
    padding-top: 87px;
    padding-bottom: 100px;
    min-height: 784px;
    background: $kw-black-color;
    &__wrapper {
      margin-bottom: 108px;
    }
    &__title {
      font-size: 32px;
      margin-bottom: 25px;
    }
    &__item {
      max-width: 253px;
      &-top {
        height: 144px;
      }
      &-descr {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        text-align: left;
      }
    }
  }

  .applications {
    &__left {
      max-width: 300px;
      &-top {
        font-size: 27px;
      }
      &-bottom {
        font-size: 16px;
        width: auto;
      }
    }
  }

  .applicationsButton {
    padding: 17px 28px;
  }

  .tarif__button {
    margin-right: 10px;
    font-weight: 400;
    font-size: 16px;
    padding: 6px 20px;
    line-height: inherit;
  }
}