@import '../../ui/styles/reboot.scss';

.services-page {
    padding-top: 200px;
    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: 57px;
    }
    &__title {
        font-weight: 500;
        font-size: 48px;
        line-height: 104%;
        text-transform: uppercase;
        color: #E8E8E8;
        margin-bottom: 15px;
    }
    &__descr {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #E8E8E8;
        max-width: 683px;
        margin: 0;
    }
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (max-width: 1500px) {
    .services-page {
        &__wrapper {
            // align-items: center;
            // justify-content: center;
        }
    }
}


@media (max-width: 560px) {
    .services-page {
        padding-top: 100px;
        &__title {
            font-size: 32px;
            line-height: 110%;
        }
        &__descr {
            font-size: 16px;
            line-height: 19px;
        }
    }
}