$kw-primary-color: #B3A16E;
$kw-soft-gold-color: #D2C7B6;
$kw-white-color: #E8E8E8;
$kw-black-color: #222222;
$kw-black-grey-color: #2D2D2D;
$kw-grey-color: #464646;
$kw-indicator-color: #979797;
$kw-header-font: 'Inter', sans-serif;
$kw-main-font: 'Golos', sans-serif;
