// regular
@font-face {
    font-family: Golos;
    font-weight: 400;
    src: url(../fonts/Golos-Text_Regular.ttf);
}

// medium
@font-face {
    font-family: Golos;
    font-weight: 500;
    src: url(../fonts/Golos-Text_Medium.ttf);
}

// bold
@font-face {
    font-family: Golos;
    font-weight: 600;
    src: url(../fonts/Golos-Text_Bold.ttf);
}

// black
@font-face {
    font-family: Golos;
    font-weight: 900;
    src: url(../fonts/Golos-Text_Black.ttf);
}